<!DOCTYPE html>
<html>
<head>
    <title>Water Level Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="text-align:center; font-family:Arial;">

<h1>💧 Live Water Level Dashboard</h1>
<h2 id="level">Loading...</h2>

<canvas id="myChart" width="400" height="200"></canvas>

<script>

let ctx = document.getElementById('myChart').getContext('2d');

let chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Water Level (%)',
            data: [],
            borderColor: 'blue',
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                max: 100
            }
        }
    }
});

function fetchData() {
    fetch('/latest')
    .then(response => response.json())
    .then(data => {

        let color = "green";
        if(data.alert == "WARNING") color = "gold";
        if(data.alert == "CRITICAL") color = "orange";
        if(data.alert == "EMERGENCY") color = "red";

        document.getElementById("level").innerHTML =
            "Current Level: " + data.water_level + "%<br>" +
            "Status: <span style='color:" + color +
            "; font-weight:bold'>" + data.alert + "</span>";

        chart.data.labels.push("");
        chart.data.datasets[0].data.push(data.water_level);

        if(chart.data.labels.length > 10){
            chart.data.labels.shift();
            chart.data.datasets[0].data.shift();
        }

        chart.update();
    });
}

setInterval(fetchData, 5000);
fetchData();

</script>

</body>
</html>